[include printer_hardware.cfg]
[include printer_base.cfg]



[mcu]
serial: /dev/ttyS5
baud: 250000
restart_method: command 

[virtual_sdcard]
path: /home/user/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 20000
minimum_cruise_ratio: 0.5
square_corner_velocity: 10
max_z_velocity: 20
max_z_accel: 100

[stepper_x]
position_min: 0
position_endstop: 0
position_max: 255

[stepper_y]
position_min: 0
position_endstop: 0
position_max: 211

[stepper_z]
#position_min: 0
#position_endstop: 0
position_max: 200

[extruder]
max_temp: 320
rotation_distance: 4.5
sensor_type: PT1000
#control: pid
#pid_Kp: 20.0 # -||-
#pid_Ki: 2.573 # -||-
#pid_Kd: 50.377 # -||-
full_steps_per_rotation: 200

[heater_bed]
sensor_type: EPCOS 100K B57560G104F
#control: pid
#pid_kp = 56.154 # -||-
#pid_ki = 1.694 # -||-
#pid_kd = 465.378 # -||-

[safe_z_home]
home_xy_position: 127, 105 # Центр вашего стола
speed: 400
z_hop: 8                  # Поднять сопло перед движением
z_hop_speed: 20

[bed_mesh]
mesh_min: 5.0,0.0 # Левая передняя точка, в которой будет снята карта высот стола. Указывается координата именно точки, в которой снимается высота. Положение головы при этом будет смещено на значения -x_offset и -y_offset
mesh_max: 233.0,184.0 # Правая задняя точка, в которой будет снята карта высот стола. Указывается координата именно точки, в которой снимается высота. Положение головы при этом будет смещено на значения -x_offset и -y_offset
probe_count: 8,6 # Количество точек карты высот стола вдоль осей X, Y
zero_reference_position: 127.0,105.0 # Координаты центра стола

[input_shaper]
shaper_type_x: 3hump_ei
shaper_freq_x: 89.04
shaper_type_y: 3hump_ei
shaper_freq_y: 89.04
damping_ratio_x: 0.1
damping_ratio_y: 0.145
#shaper_type_x: mzv
#shaper_freq_x: 60.8
#shaper_type_y: mzv
#shaper_freq_y: 57.4

#[mcu btt_s2dw]
#serial: /dev/serial/by-id/usb-Klipper_rp2040_50445061303ED21C-if00 # Замените на ваш ID

#[lis2dw]
#cs_pin: btt_s2dw:gpio9
#spi_software_sclk_pin: btt_s2dw:gpio10
#spi_software_mosi_pin: btt_s2dw:gpio11
#spi_software_miso_pin: btt_s2dw:gpio8
#axes_map: x, y, z # Сверьте направление осей (указаны шелкографией на плате)

#[resonance_tester]
#probe_points: 130, 100, 20 # Точка в центре стола (X, Y, Z), где будет трястись голова
#accel_chip: lis2dw

# [input_shaper]
# shaper_type_x = 3hump_ei
# shaper_freq_x = 129.2
# shaper_type_y = 3hump_ei
# shaper_freq_y = 122.6


#DEBUG
[include printer_debug.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.208182, -0.130682, -0.053182, -0.068182, -0.025682, -0.038182, -0.035682, -0.040682
#*# 	  0.021818, 0.021818, 0.006818, 0.054318, 0.029318, -0.025682, -0.058182, 0.081818
#*# 	  0.041818, 0.071818, 0.054318, 0.079318, 0.041818, -0.008182, 0.016818, 0.089318
#*# 	  -0.030682, -0.035682, -0.015682, -0.025682, -0.005682, -0.033182, -0.035682, 0.056818
#*# 	  -0.098182, -0.053182, -0.110682, -0.103182, -0.090682, -0.143182, -0.158182, -0.035682
#*# 	  -0.040682, 0.116818, 0.179318, 0.101818, 0.094318, -0.040682, -0.060682, 0.006818
#*# x_count = 8
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 5.0
#*# max_x = 232.99
#*# min_y = 0.0
#*# max_y = 185.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 40.477
#*# pid_ki = 11.244
#*# pid_kd = 36.429
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 54.739
#*# pid_ki = 2.466
#*# pid_kd = 303.799
