[stepper_x] #MOTOR0
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14
full_steps_per_rotation: 400
endstop_pin: ^!PG6

[stepper_y] #MOTOR1
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
full_steps_per_rotation: 400
endstop_pin: ^!PG12

[stepper_z] #MOTOR3
step_pin: PG4
dir_pin: PC1
enable_pin: !PA2
full_steps_per_rotation: 200
#endstop_pin: ^!PG9

[extruder] #MOTOR4
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
full_steps_per_rotation: 200

#[tmc2209 stepper_x]
#uart_pin: PC4
#run_current: 1.0
#stealthchop_threshold: 0
#interpolate: True

#[tmc2209 stepper_y]
#uart_pin: PD11
#run_current: 1.0
#stealthchop_threshold: 0
#interpolate: True


[tmc2240 stepper_x]
#uart_pin: PC4
cs_pin: PC4
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
run_current: 0.9
stealthchop_threshold: 0
interpolate: True

[tmc2240 stepper_y]
#uart_pin: PD11
cs_pin: PD11
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
run_current: 0.9
stealthchop_threshold: 0
interpolate: True

[tmc2240 stepper_z]
#uart_pin: PC7
cs_pin: PC7
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
run_current: 0.8
stealthchop_threshold: 5
interpolate: False

[tmc2240 extruder]
#uart_pin: PF2
cs_pin: PF2
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
run_current: 0.75
stealthchop_threshold: 0
#hold_current: 0.5 

[motor_constants hanpose-17hs8401s-09]
# Физические характеристики Hanpose 17HS8401S-0.9:
resistance: 1.8               # Внутреннее сопротивление (Ом)
inductance: 0.0038            # Индуктивность (Гн)
holding_torque: 0.52          # Удерживающий момент (Н·м)
max_current: 1.8              # Максимальный номинальный ток (А)
steps_per_revolution: 400     # 400 шагов на оборот для моторов 0.9°

[autotune_tmc stepper_x]
motor: hanpose-17hs8401s-09
tuning_goal: performance
extra_hysteresis: 1
sg4_thrs: 0

[autotune_tmc stepper_y]
motor: hanpose-17hs8401s-09
tuning_goal: performance
extra_hysteresis: 1
sg4_thrs: 0

[heater_bed]
heater_pin: PA0
sensor_pin: PF3
smooth_time: 3.0  

[extruder]
heater_pin: PA3
sensor_pin: PF4
smooth_time: 3.0  

[heater_fan hotend_fan]
pin: PA8

[fan]
pin: PE5

[fan_generic exhaust_fan]
pin: PD12
max_power: 1.0
shutdown_speed: 0.0

[bltouch]
sensor_pin: ^PB7
control_pin: PB6
x_offset: -22
y_offset: -27
z_offset: 1.17
speed: 5.0
lift_speed: 20.0
pin_up_reports_not_triggered: False
pin_up_touch_mode_reports_triggered: False
stow_on_each_sample: True
pin_move_time: 0.25

[led print_chamber_led]
white_pin: PD13
initial_WHITE: 1.0
cycle_time: 0.001

[controller_fan electronics_fan]
pin: PD14

[temperature_sensor host]
sensor_type: temperature_host

[temperature_sensor Octopus_Pro]
sensor_type: temperature_mcu
